<div class="app">
  <div class="title">
    <div>
      The things that you forget,
    </div>
    <div>
      are the things not that important...
    </div>
  </div>

  <div class="add-something">
    <div>Add something</div>
    <div class="computer">, and press 'ENTER' to input</div>
  </div>

  <div class="body">
    <form (ngSubmit)="addTodo(e)">
      <input
        class="inputbox"
        type="text"
        placeholder="What should I do later..."
      />
      <button class="add">Add</button>
    </form>
  </div>
</div>
<app-todolist></app-todolist>
<app-filter></app-filter>
