<div class="app">
  <div class="title">
    <div>
      The things that you forget,
    </div>
    <div>
      are the things not that important...
    </div>
  </div>

  <div class="add-something">
    <div>Add something</div>
    <div class="computer">, and press 'ENTER' to input</div>
  </div>

  <div class="body">
    <form [formGroup]="forma">
      <input
        class="inputbox"
        type="text"
        formControlName="title"
        (keyup.enter)="addTodo()"
        placeholder="What should I do later..."
      />
      <button class="add" (click)="addTodo()">Add</button>
    </form>
  </div>
</div>
<app-todo-item
  *ngFor="let todo of todos"
  [todo]="todo"
  (toggleTodo)="toggleTodo($event)"
  (deleteTodo)="deleteTodo($event)"
></app-todo-item>
<app-filter></app-filter>
